@model IEnumerable<PersonResponse>

@{
	ViewBag.Title = "Persons";
	ViewBag.CurrentUrl = "~Persons/Index";
}
<form asp-controller="Persons" asp-action="Index" method="get">

<a asp-controller="Persons" asp-action="Create">Create New Contact</a>
<h1>Contacts</h1>

<div class="box flex">
	<div class="flex-1">
		<select class="form-input" name="searchBy">
			@foreach (var field in ViewBag.SearchFields)
			{
				if(field.Key==ViewBag.CurrentSearchBy)
				{	
				<option value="@field.Key" selected="selected">@field.Value</option>
				}
				else
				{
				<option value="@field.Key">@field.Value</option>
				}
				
			}
		</select>
	</div>
	<div class="flex-1">
		<input type="search" id="Search" class="form-input" placeholder="Search" name="searchString" value="@ViewBag.CurrentSearchString"/>
	</div>
	<div>
		<button class="button button-blue-back">Search</button>
		<a asp-controller="Persons" asp-action="Index">Clear All</a>
	</div>
</div>

<table class="table w-100 mt">
	<thead>
		<tr>
		@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
			{"ColumnName", nameof(PersonResponse.PersonName)},
			{"DisplayName", "Person Name"}
		})

		@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
			{"ColumnName", nameof(PersonResponse.Email)},
			{"DisplayName", "Email"}
			})

		@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
			{"ColumnName", nameof(PersonResponse.Address)},
			{"DisplayName", "Address"}
			})

		@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
			{"ColumnName", nameof(PersonResponse.DateOfBirth)},
			{"DisplayName", "Date of Birth"}
			})

		@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
			{"ColumnName", nameof(PersonResponse.Age)},
			{"DisplayName", "Age"}
			})

		@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
			{"ColumnName", nameof(PersonResponse.Country)},
			{"DisplayName", "Country"}
			})

		@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
			{"ColumnName", nameof(PersonResponse.Gender)},
			{"DisplayName", "Gender"}
			})

		@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
			{"ColumnName", nameof(PersonResponse.ReceiveNewsLetters)},
			{"DisplayName", "Receive News Letters"}
			})

				@await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData){
				{"ColumnName", nameof(PersonResponse.TaxIdentificationNumber)},
				{"DisplayName", "TaxI dentification Number"}
				})
		</tr>
	</thead>
	<tbody>
		@foreach (PersonResponse personResponse in Model)
		{
		<tr>
		<td style="width:10%">@personResponse.PersonName</td>
		<td style="width:10%">@personResponse.Email</td>
		<td style="width:10%">@personResponse.Address</td>
		<td style="width:10%">@personResponse.DateOfBirth?.ToString("dd MMM yyyy")</td>
		<td style="width:9%">@personResponse.Age</td>
		<td style="width:10%">@personResponse.Country</td>
		<td style="width:10%">@personResponse.Gender</td>
		<td style="width:10%">@personResponse.ReceiveNewsLetters</td>
		<td style="width:10%">@personResponse.TaxIdentificationNumber</td>
		<td style="width:10%">
			<a asp-controller="Persons" asp-action="Edit" asp-route-PersonId="@personResponse.PersonId">Edit</a>
			<a asp-controller="Persons" asp-action="Delete" asp-route-PersonId="@personResponse.PersonId">Delete</a>
		</td>
		</tr>
		}
	</tbody>
</table>
</form>



